/*======== Faq =======*/
.faq {
    & .row{
        @include responsive($md){
            flex-direction: column-reverse;
            gap: rem(50);
        }
    }
    &__image {
        position: relative;
        min-height: 29.5rem;
        width: 100%;
        border-radius: rem(10);

        // margin: 0 auto;
        @include responsive($md) {
            //margin: 0 auto 5rem auto;
        }

        &-img {
            & img {
                position: absolute;
                height: 100%;
                width: 100%;
                object-fit: cover;
                border-radius: 1.25rem;

            }
        }
    }

    &__accordion {
        & .accordion {
            --bs-accordion-border-width: 0;
        }

        color: #fff;

        & .accordion-item {
            padding: 1.875rem;
            position: relative;
            background: transparent;
            z-index: 1;
            border-radius: 0.625rem;

            &.active {
                background: var(--g-1);
            }

            &:not(:last-child) {
                margin-bottom: 1.25rem;
            }

            &:before {
                content: "";
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                z-index: -1;
                margin: 2px;
                border-radius: inherit;
                background: #1C263B;

            }

            & .accordion-text {
                color: var(--btc);
                max-width: 90%;
            }

        }

        & .accordion-header {
            background-color: transparent;

            & .accordion-button {
                cursor: pointer;
                padding: 0;
                background-color: #1C263B;
                ;
                color: #fff;
                margin-bottom: 1.25rem;

                & h6 {
                    margin: 0;
                    font-size: 1rem;
                    font-weight: 600;
                    font-family: var(--sora);
                }

                &:after {
                    content: '\2b';
                    font-family: var(--font-awesome);
                    position: absolute;
                    right: -13px;
                    top: -3px;
                }

                &:not(.collapsed) {
                    box-shadow: 0;
                }

                &:not(.collapsed)::after {
                    content: '\f00d';
                    font-family: var(--font-awesome);
                    position: absolute;
                    right: -3px;
                    top: 0;
                }

                &.collapsed {
                    margin-bottom: 0;
                }

            }
        }

        & .accordion-collapse {}

    }
}