/*========== header =============*/
.page-template .header {
	background: var(--body-bg);
	position: relative;
	z-index: 1;
}

.header {
	overflow: hidden;
	@include responsive($sm) {
		padding: 1rem 0;
	}

	&.header_fixed {
		position: fixed;
		left: 0;
		top: 0;
		width: 100%;
		background: var(--body-bg);
		z-index: 999;
	}

	&__wrapper {
		display: grid;
		grid-template-columns: 15% auto 25%;
		align-items: center;

		@include responsive($lg) {
			grid-template-columns: 15% auto 28%;
		}

		@include responsive($md) {
			grid-template-columns: 25% auto 2%;
		}

		@include responsive($xs) {
			grid-template-columns: 50% auto 13%;
		}

		@include responsive($sm) {
			grid-template-columns: 50% auto auto;
			justify-content: space-between;
		}
	}

	&__logo {
		& a {
			font-size: 1.25rem;
			font-weight: 600;
			color: #fff;
		}
	}

	&__menu {
		text-align: center;

		& ul {
			padding: 0;
			margin: 0;
			list-style: none;

			& li {
				display: inline-block;
				position: relative;
				z-index: 1;

				&.has-children {
					position: relative;

					&:after {
						content: '+';
						position: absolute;
						right: 3px;
						top: 50%;
						@include prefix(transform, translateY(-50%));
						color: #fff;
					}

					&:hover {
						&:after {
							content: '-';
						}
					}
				}

				&:not(:last-child) {
					margin-right: 1rem;

					@include responsive($lg) {
						margin-right: 0;
					}
				}

				& a {
					display: block;
					padding: 2.5rem 1rem;
					color: #fff;
					position: relative;

					@include responsive($md) {
						padding: 2.5rem 0.8rem;
					}

					&:before {
						position: absolute;
						height: 1.5px;
						width: 70%;
						background: #fff;
						content: '';
						border-radius: 0.625rem;
						z-index: -1;
						top: 4rem;
						left: 15px;
						opacity: 0;
						border-radius: 3px;
						@include animation(transition, all 0.3s ease-in);
					}
				}

				&:hover {
					& a:before {
						opacity: 1;
					}

					& ul.submenu {
						opacity: 1;
						visibility: visible;
						top: 100%;

						li {
							&.has-children:hover {
								&:after {
									right: 1rem;
									color: var(--body-bg);
								}
							}
						}
					}
				}

				& ul.submenu {
					position: absolute;
					width: 12.5rem;
					left: 0;
					background: #292837;
					top: 80%;
					visibility: hidden;
					opacity: 0;
					@include animation(transition, all 0.3s ease-in);
					z-index: 1;

					& li {
						display: block;
						margin: 0 !important;

						&:not(:last-child) {
							border-bottom: 1px solid #ffffff21;
						}

						&.has-children {
							&:after {
								right: 1rem;
								color: #fff;
							}
						}

						& a {
							padding: 0.856rem 1rem;
							text-align: left;

							&:before {
								content: '';
								position: relative;
							}
						}

						/*=== Three Level Menu ===*/
						&:hover {
							background: var(--g-1);

							& a {
								color: var(--pc);
							}

							& ul.submenu {
								opacity: 1;
								visibility: visible;
							}
						}

						& ul.submenu {
							left: 100%;
							opacity: 0;
							top: 0;
							visibility: hidden;

							& li {
								&:hover {
									& a {
										color: var(--body-bg);
									}
								}

								> a {
									color: var(--pc);
								}
							}
						}
					}
				}
			}
		}
	}

	&__right {
		&--btn {
			@include responsive($md) {
				display: none;
			}

			display: flex;
			justify-content: end;
			gap: 1.25rem;

			& a {
				padding: rem(14) rem(20);
				border-radius: 0.625rem;
				color: #fff;
				font-weight: 500;
				@include animation(transition, all 0.5s ease-out);
				position: relative;
				background: var(--body-bg);
				&:before {
					content: '';
					position: absolute;
					top: 0;
					right: 0;
					bottom: 0;
					left: 0;
					z-index: -1;
					margin: -2px;
					border-radius: inherit;
					background: var(--g-1);
				}
				&:hover {
					background: transparent;
				}
				i {
					margin-left: 3px;
					font-weight: 500;
					font-family: var(--font-awesome);
				}
			}
		}

		& button.menu-icon {
			border: 1px solid var(--bc);
			background: transparent;
			color: #fff;
			height: 3.125rem;
			width: 3.125rem;
			border-radius: 0.5rem;
			font-size: 1.25rem;
			@include animation(transition, all 0.3s ease-in);

			&:hover {
				background: var(--g-1);
				color: var(--pc);
				border-color: transparent;
			}
		}
	}

	&.sub-page {
		background: var(--body-bg);
	}
}
